@import 'src/styles.scss';

.app {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .container {
    width: 100%;
    min-height: 1vh;
    margin: 0 auto;
    padding: 0px 16px;

    @include xsm {
      width: 100%;
    }
    @include sm {
      width: 100%;
    }
    @include md {
      width: 100%;
    }
    @include lg {
      width: 940px;
    }
    @include xl {
      width: 1170px;
    }
  }

  .footer-elements {
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }
}
