@import 'src/styles.scss';
.papers{
  width: 100%;
  min-height: 1vh;
  height: calc(100vh - 160px);
  margin: 0 auto;
  padding: 0px 16px;
  @include md {
    max-width: 840px;
    padding: 0px;
  }
}

.top {
  margin-top: -32px;
}

.invoice-section {
  margin-bottom: 32px;
  background-color: #ffffff;
  padding: 64px;
  border-radius: 3px;
  .subtitle {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 1.5;
  }
}

.button {
  background-color: #9945B5;
  color: #ffffff;
  padding: 16px 64px;
  width: 100%;
  &:hover {
    cursor: pointer; 
    background-color: lighten(#9945B5, 10%);
  }
  &:active {
    background-color: darken(#9945B5, 10%);
  }
  &:active, &:focus {
    outline: none;
  }
}